<!--
Copyright (c) 2024 Analog Devices, Inc. All Rights Reserved.
This software is proprietary to Analog Devices, Inc. and its licensors.
-->

<!-- -*- mode: XML -*- -->
<launch>

  <!-- Arguments on name space and sensor name in gazebo -->
  <arg name="ns_prefix" default="tmc_coe1" />
  
  <!-- All arguments below belongs to tf frame -->
  <arg name="tmc_coe_base_name1" default="tmcm_1461_CoE_1" />
  <arg name="tmc_coe_base_name2" default="tmcm_1461_CoE_2" />
 
  <!-- "period" specifies how often to send a transform-->
  <arg name="period" default="100"/>
 
  <!-- TMCL Board frame for TMCM-1461 slave 1
    change values of:
    * "dev_parent_frame" to specify parent frame of tmcl board (setting to "map" as default)
    * "pos_x,y,z" for translation
    * "pos_qx,qy,qz,qw" for rotation[Quaternion] -->
  <arg name = "dev1_parent_frame" value = "map" />
  <arg name = "dev1_base_name" value = "$(eval arg('ns_prefix') + '/' + arg('tmc_coe_base_name1') + '_base_link')" />
  <arg name = "dev1_pos_x" value = "0" />
  <arg name = "dev1_pos_y" value = "0" />
  <arg name = "dev1_pos_z" value = "0" />
  <arg name = "dev1_pos_qx" value = "0" />
  <arg name = "dev1_pos_qy" value = "0" />
  <arg name = "dev1_pos_qz" value = "0" />
  <arg name = "dev1_pos_qw" value = "1" />
 
  <!-- TMCM-1461 slave 1 Motor 0 frame
    change values of:
    * "pos_x,y,z" for translation
    * "pos_qx,qy,qz,qw" for rotation[Quaternion] -->
  <arg name = "dev1_mtr0_base_name" value = "$(eval arg('ns_prefix') + '/' + arg('tmc_coe_base_name1') + '_mtr0_frame')" />
  <arg name = "dev1_mtr0_pos_x" value = "1" />
  <arg name = "dev1_mtr0_pos_y" value = "0" />
  <arg name = "dev1_mtr0_pos_z" value = "0" />
  <arg name = "dev1_mtr0_pos_qx" value = "0" />
  <arg name = "dev1_mtr0_pos_qy" value = "0" />
  <arg name = "dev1_mtr0_pos_qz" value = "0" />
  <arg name = "dev1_mtr0_pos_qw" value = "1" />

  <!-- TMCL Board frame for TMCM-1461 slave 2
    change values of:
    * "dev_parent_frame" to specify parent frame of tmcl board (setting to "map" as default)
    * "pos_x,y,z" for translation
    * "pos_qx,qy,qz,qw" for rotation[Quaternion] -->
  <arg name = "dev2_parent_frame" value = "map" />
  <arg name = "dev2_base_name" value = "$(eval arg('ns_prefix') + '/' + arg('tmc_coe_base_name2') + '_base_link')" />
  <arg name = "dev2_pos_x" value = "0" />
  <arg name = "dev2_pos_y" value = "0" />
  <arg name = "dev2_pos_z" value = "0" />
  <arg name = "dev2_pos_qx" value = "0" />
  <arg name = "dev2_pos_qy" value = "0" />
  <arg name = "dev2_pos_qz" value = "0" />
  <arg name = "dev2_pos_qw" value = "1" />
 
  <!-- TMCM-1461 slave 2 Motor 0 frame
    change values of:
    * "pos_x,y,z" for translation
    * "pos_qx,qy,qz,qw" for rotation[Quaternion] -->
  <arg name = "dev2_mtr0_base_name" value = "$(eval arg('ns_prefix') + '/' + arg('tmc_coe_base_name2') + '_mtr0_frame')" />
  <arg name = "dev2_mtr0_pos_x" value = "1" />
  <arg name = "dev2_mtr0_pos_y" value = "0" />
  <arg name = "dev2_mtr0_pos_z" value = "0" />
  <arg name = "dev2_mtr0_pos_qx" value = "0" />
  <arg name = "dev2_mtr0_pos_qy" value = "0" />
  <arg name = "dev2_mtr0_pos_qz" value = "0" />
  <arg name = "dev2_mtr0_pos_qw" value = "1" />
  
  <group ns="$(arg ns_prefix)">
    <!--Launches node-->
    <node name="tmc_coe_ros_node" pkg="adi_tmc_coe" type="tmc_coe_ros_node" output="screen" required="true" launch-prefix="ethercat_grant">
      <rosparam command="load" file="$(find adi_tmc_coe)/config/autogenerated/TMCM-1461.yaml"/>
      <rosparam command="load" file="$(find adi_tmc_coe)/config/2slaves_1axis_per_slave.yaml"/>
    </node>
    
    <!--Launches tf frames-->
    <!--TMCM-1461 slave 1-->
    <node pkg="tf" type="static_transform_publisher" name="$(eval arg('tmc_coe_base_name1') + '_link')" 
      args="$(arg dev1_pos_x) $(arg dev1_pos_y) $(arg dev1_pos_z) $(arg dev1_pos_qx) $(arg dev1_pos_qy) $(arg dev1_pos_qz) $(arg dev1_pos_qw) $(arg dev1_parent_frame) $(arg dev1_base_name) $(arg period)" />
 
    <node pkg="tf" type="static_transform_publisher" name="$(eval arg('tmc_coe_base_name1') + '_mtr0_link')" 
      args="$(arg dev1_mtr0_pos_x) $(arg dev1_mtr0_pos_y) $(arg dev1_mtr0_pos_z) $(arg dev1_mtr0_pos_qx) $(arg dev1_mtr0_pos_qy) $(arg dev1_mtr0_pos_qz) $(arg dev1_mtr0_pos_qw) $(arg dev1_base_name) $(arg dev1_mtr0_base_name) $(arg period)" />

    <!--TMCM-1461 slave 2-->
    <node pkg="tf" type="static_transform_publisher" name="$(eval arg('tmc_coe_base_name2') + '_link')" 
      args="$(arg dev2_pos_x) $(arg dev2_pos_y) $(arg dev2_pos_z) $(arg dev2_pos_qx) $(arg dev2_pos_qy) $(arg dev2_pos_qz) $(arg dev2_pos_qw) $(arg dev2_parent_frame) $(arg dev2_base_name) $(arg period)" />
 
    <node pkg="tf" type="static_transform_publisher" name="$(eval arg('tmc_coe_base_name2') + '_mtr0_link')" 
      args="$(arg dev2_mtr0_pos_x) $(arg dev2_mtr0_pos_y) $(arg dev2_mtr0_pos_z) $(arg dev2_mtr0_pos_qx) $(arg dev2_mtr0_pos_qy) $(arg dev2_mtr0_pos_qz) $(arg dev2_mtr0_pos_qw) $(arg dev2_base_name) $(arg dev2_mtr0_base_name) $(arg period)" />

  </group>

</launch>
